@using EntityLayer.Concrete
@model List<Iletisim>

<li class="social-icons-facebook">
	<a href="@ViewBag.Facebook" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
</li>
<li class="social-icons-twitter">
	<a href="@ViewBag.Twitter" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
</li>
<li class="social-icons-linkedin">
	<a href="@ViewBag.LinkedIn" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
</li>