@using EntityLayer.Concrete
@model List<AdminMesaj>
@{
    ViewData["Title"] = "DestekPortali";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col">
				<div class="row">
					<div class="col-md-12 align-self-center p-static order-2 text-center">
						<div class="overflow-hidden pb-2">
							<h1 class="text-dark font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">Destek Portalı</h1>
						</div>
					</div>
					<div class="col-md-12 align-self-center order-1">
						<ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
							<li class="active">Ana Sayfa</li>
							<li class="active">Destek Portalı</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container pt-5">
	<div class="container pt-3 pb-2">

		<div class="row pt-2">
			<div class="col-lg-5 mt-4 mt-lg-0">
				@await Component.InvokeAsync("DestekIletisimListele")
			</div>
			<div class="col-lg-6">
				<div class="col-lg-3 col-form-label form-control-label line-height-9 pb-3 text-2"><h4>Talep Oluştur</h4></div>
				<form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Başlık</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="text" name="Baslik" value="" required="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Konu</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="text" name="Konu" value="" required="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Metin</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="text" name="Description" value="" required="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Email</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="email" name="Mail" value="" required="">
						</div>
					</div>
					<div class="form-group row">
						<div class="form-group col-lg-9">
						</div>
						<div class="form-group col-lg-3">
							<input type="submit" value="Gönder" class="btn btn-primary btn-modern float-end" data-loading-text="Loading...">
						</div>
					</div>
				</form>

			</div>
		</div>

	</div>
</div>