@using EntityLayer.Concrete
@model List<Footer>

<h5 class="text-4 text-color-dark mb-3">@ViewBag.KayitOlBaslik</h5>
<p class="mb-2">@ViewBag.KayitOlDescription</p>
<div class="row">
	<div class="form-group col">
		<a href="/Kayit/Index" class="btn btn-primary btn-rounded btn-px-4 btn-py-2 font-weight-bold">
			KAYIT OL
		</a>
	</div>
</div>