@using EntityLayer.Concrete
@model List<Footer>

<div class="col-md-8 col-lg-4 mb-5 mb-lg-0">
	<h5 class="text-4 text-color-light mb-3">@ViewBag.Baslik</h5>
	<ul class="list list-unstyled mb-0">
		<p>@ViewBag.Description</p>
	</ul>
</div>
<div class="col-md-8 col-lg-4 mb-5 mb-lg-0">
	<h5 class="text-4 text-color-light mb-3">@ViewBag.KayitOlBaslik</h5>
	<p class="mb-2">@ViewBag.KayitOlDescription</p>
	<div class="row">
		<div class="form-group col">
			<a href="/Kayit/Index" class="btn btn-primary btn-rounded btn-px-4 btn-py-2 font-weight-bold">
				KAYIT OL
			</a>
		</div>
	</div>
</div>