@using EntityLayer.Concrete
@model List<Iletisim>

<strong class="text-4">
    <a href="tel:@ViewBag.PhoneCagri" class="text-color-hover-primary text-decoration-none">@ViewBag.PhoneCagri</a>
</strong>