
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="mt-5">
    <section class="body" style="margin-top: -150px;">
        <div class="inner-wrapper">
            <section role="main" class="content-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-xl-6">
                                <section class="card card-featured-left card-featured-primary mb-3">
                                    <div class="card-body">
                                        <div class="widget-summary">
                                            <h5 class="card-title">@ViewBag.kullaniciAdi</h5>
                                            <hr />
                                            <h6 class="card-title">@ViewBag.adsoyad</h6>
                                            <hr />
                                            <h6 class="card-title">@ViewBag.mail</h6>
                                            <hr />
                                            <br />
                                            <a class="nav-link" href="~/User/Profilim">
                                                Profilimi Düzenle
                                            </a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-xl-6">
                                <section class="card card-featured-left card-featured-secondary">
                                    <div class="card-body">
                                        <div class="widget-summary">
                                            <h5 class="card-title">Favori Ürünlerim</h5>
                                            <hr />
                                            <h6 class="card-text"><a href="#">Son İki Ürün listele</a></h6>
                                            <hr />
                                            <h6 class="card-text"><a href="#">Son İki Ürün listele</a></h6>
                                            <hr />
                                            <br />
                                            <a class="nav-link" href="~/User/Favoriler">
                                                Favorilerim
                                            </a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row mb-3">
                            <div class="col-xl-6">
                                <section class="card card-featured-left card-featured-primary mb-3">
                                    <div class="card-body">
                                        <div class="widget-summary">
                                            <div class="widget-summary-col widget-summary-col-icon">
                                                <div class="summary-icon bg-primary">
                                                    <i class="fas fa-life-ring"></i>
                                                </div>
                                            </div>
                                            <div class="widget-summary-col">
                                                <div class="summary">
                                                    <h4 class="title">Siparişlerim</h4>
                                                    <div class="info">
                                                        <strong class="amount">9999</strong>
                                                    </div>
                                                </div>
                                                <div class="summary-footer">
                                                    <a class="text-muted text-uppercase" href="~/User/Siparislerim">Sayfaya Git</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-xl-6">
                                <section class="card card-featured-left card-featured-secondary">
                                    <div class="card-body">
                                        <div class="widget-summary">
                                            <div class="widget-summary-col widget-summary-col-icon">
                                                <div class="summary-icon bg-secondary">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </div>
                                            </div>
                                            <div class="widget-summary-col">
                                                <div class="summary">
                                                    <h4 class="title">Yapılan Alışveriş</h4>
                                                    <div class="info">
                                                        <strong class="amount">9999 ₺</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <section class="card card-featured-left card-featured-tertiary mb-3">
                                    <div class="card-body">
                                        <div class="widget-summary">
                                            <div class="widget-summary-col widget-summary-col-icon">
                                                <div class="summary-icon bg-tertiary">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </div>
                                            </div>
                                            <div class="widget-summary-col">
                                                <div class="summary">
                                                    <h4 class="title">Sepetim</h4>
                                                    <div class="info">
                                                        <strong class="amount">9999</strong>
                                                    </div>
                                                </div>
                                                <div class="summary-footer">
                                                    <a class="text-muted text-uppercase" href="~/User/Sepetim">Sayfaya Git</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-xl-6">
                                <section class="card card-featured-left card-featured-quaternary">
                                    <div class="card-body">
                                        <div class="widget-summary">
                                            <div class="widget-summary-col widget-summary-col-icon">
                                                <div class="summary-icon bg-quaternary">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="widget-summary-col">
                                                <div class="summary">
                                                    <h4 class="title">Kullanıcılar</h4>
                                                    <div class="info">
                                                        <strong class="amount">@ViewBag.uyesayisi</strong>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>